
*, *::before, *::after {
   box-sizing: border-box;
}
html, body {
   margin: 0;
   padding: 0;
   color: #444;
   font-weight: 400;
   font-family: "Segoe Ui", sans-serif;
}
.container {
   position: relative;
   max-width: 90%;
   margin: auto
}

@media (min-width: 800px) {
   .container {
       max-width:70%;
   }
}
.flow-text {
   font-size: 24px;
}
a {
   display: inline-block;
}
img {
   width: 100%;
   display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: 400;
}
h1 {
   font-size: 5vmin;
}
.tac {
   text-align: center;
}
.btn {
   padding: 7px 9px;
   background: red;
   border: 0;
   outline: none;
   border-radius: 4px;
   background: transparent;
   cursor: pointer;
}
.btn-down {
   width: 70px;
   height: 70px;
   padding: 20px;
   border: 2px solid #ddd;
   border-radius: 50%;
   animation: btnDown .8s ease-in-out infinite alternate;
}

@keyframes btnDown {
   from {
      transform: translateY(-50%);
   }
}
pre {
   background: #fafafa;
   border-radius: 10px;
   padding: 15px;
   border: 1px solid #eee;
   font-size: 15px;
   overflow: auto;
}
pre code {
   margin-left: 40px;
}

.fadeIn, .fadeInDown, .fadeInUp {
   animation-fill-mode: both !important;
}
.fadeIn {
   animation: fadeIn .5s ease-in-out;
}
@keyframes fadeIn {
   from {
      opacity: 0;
   }
}
.fadeInDown {
   animation: fadeInDown .5s ease-in-out;
}
@keyframes fadeInDown {
   from {
      transform: translateY(-100%);
   }
}
.fadeInUp, p {
   animation: fadeInUp .5s ease-in-out;
}
@keyframes fadeInUp {
   from {
      opacity: 0;
      transform: translateY(100%);
   }
}
.badges {
   max-width: 450px;
   margin: auto;
   text-align: center;
}
.badges img {
   width: auto;
}
.socials {
   text-align: center;
}
.socials img {
   width: 30px;
}